@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Seymour+One&family=Shadows+Into+Light&display=swap');

* {
    font-size: 1rem;
}

body {
    margin: 0 0 -1% 0;
    padding: 0;
    background-image: url(indexImg/fruitIconCollageGrey.jpg);
    background-repeat: round;
}

header {
    /* padding-left: 20%;
    padding-right: 20%; */
    height: 100vh;
    font-family: 'Seymour One', sans-serif;
    color: chartreuse;
    background-image: url(indexImg/backgroundFruits.jpg);
    background-size: cover;
}

.intro {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    height: 90vh;
}

.introImg {
    margin: auto 0 auto 22%
}

.introImg img {
    width: 20vw;
}

.introImg iframe {
    width: 56vw;
    height: 31.5vw;
}

.introText {
    font-size: 2vw;
    margin: auto auto auto 1%;
    width: 40%;
}

.space {
    height: 10vh;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    text-align: center;
    z-index: 1;
    background-color: lightblue;
    opacity: .9;
    font-size: 1em;
    font-family: cursive;
}

.navBarSpace {
    height: 10vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar a:hover {
    opacity: .5;
}

.currentPage {
    /* background-color: grey;
    min-width: fit-content;
    width: 15%; */
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: -1%;
    font-weight: 700;
}

main {
    height: 300vh;
    margin: 0 10%;
    background-color: white;
    padding: 1%;
}

table td {
    border: #FFEB3B solid;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.topBoxes,
.bottomBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bigBox {
    height: 40vw;
    width: 40vw;
}

.smallBox {
    width: 20vw;
    height: 20vw;
    padding: 2%;
}

.bigBox,
.smallBox {
    position: relative;
}

.boxText {
    background-color: #FFEB3B;
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding: 1%;
    margin: -1%;
    text-align: center;
    border: #FFEB3B solid;
}

#box1,
#box2,
#box3,
#box4,
#box5,
#box6 {
    background-size: cover;
    background-clip: content-box;
    transition: all 0.5s;
    width: 20vw;
    height: 20vw;
}

#box1:hover,
#box2:hover,
#box3:hover,
#box4:hover,
#box5:hover,
#box6:hover {
    padding: 1%;
    margin: -1%;
}

#box1 {
    background-image: url(indexImg/colorfulOrchard.jfif);
}

#box2 {
    background-image: url(indexImg/oilMountainOrchardTwo.jfif);
}

#box3 {
    background-image: url(indexImg/ninjaKiwiTwo.jpg);
}

#box4 {
    background-image: url(fruitBasketImg/raspberryBikerGang.jpg);
}

#box5 {
    background-image: url(fruitBasketImg/fruitBasket.jpg);
}

#box6 {
    background-image: url(indexImg/fruitConstruction.jpg);
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
}

p {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1em;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 5%;
}

.line {
    width: 80%;
    background-color: black;
    height: 1px;
    text-align: center;
    margin: 0 auto;
}

footer {
    background-color: black;
    color: white;
    padding: 1% 0;
    font-size: .75em;
}

/* Media queries for responsive web design */
/* These ask the browser to identify the properties of the media that the content is being 
displayed on and change the CSS rules accordingly */

/* As long as the width of the viewport is less than 750px, implement the rules inside the media query */
@media screen and (max-width: 750px) {
    header {
        height: 40vh;
    }

    .intro {
        height: 30vh;
    }

    .introImg {
        margin: auto 0 auto 3%;
        height: 20vw;
    }

    #video {
        margin: auto 0 auto 6%;
    }

    .introText {
        font-size: 1em;
        width: 45%;
        margin: auto auto auto 1%;
    }

    main {
        margin: 0 5%;
    }

    h2 {
        font-size: 1.5em;
    }

    footer {
        font-size: .5em;
    }
}

/* As long as the width of the viewport is greater than 1200px, implement the rules inside the media query */
@media (min-width: 1200px) {
    body {
        font-size: 1rem;
    }
}

/* As long as the screen is in portrait mode, implement the rules inside the media query */
@media screen and (orientation: portrait) {}